body {
  background-color: #EAF6F6;
  padding: 20px;
}
hr {
  border-top-style: dotted;
  border-color: #16817a;
  border-width: 4px;
  width: 4%;

}

h1 {
  color: #024249;
}

h3 {
  color: #16817a;
}
